* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Karla";
  src: url(../fonts/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla-Italic";
  src: url(../fonts/Karla-Italic-VariableFont_wght.ttf);
}

body {
  font-family: "Karla";
  font-weight: 400;
}

img {
  width: 100%;
}

main,
header,
footer {
  max-width: 100vw;
  margin: 0 2em;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1.8em 0;
  text-transform: uppercase;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 2.8em;
  list-style: none;
}

/* shop */

.shop-parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-big {
  grid-column: 1 / -1;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-image,
.product-brand {
  grid-column: 1 / -1;
  padding: 1.2em 0 1.2em 0;
}

.product-price {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  text-align: right;
}

.product-brand {
  color: rgb(152, 152, 152);
  font-weight: 100;
}

.product img:hover {
  opacity: 0.5;
}
/* footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5em;
  margin-bottom: 3em;
}

.footer-element {
  display: flex;
  flex-direction: column;
}

.footer-element h3 {
  margin-bottom: 3em;
}

.footer-copyright {
  grid-column: 1 / -1;
  text-align: left;
  margin-top: 3em;
  color: rgb(128, 128, 128);
}

.footer-text-italic {
  font-family: "Karla-Italic";
}
